body {
  font-family: 'Roboto Slab', serif;
  margin: 0;
  background-color: #fbfbfb;
}

.main-head-section {
  color: #fff;
  position: relative;
  background-image: url('../asset/image/bg.jpg');
  background-size: cover;
  text-align: center;
  height: 100vh;
  min-height: 700px;
  overflow: hidden;

  &::after {
    background-color: $secondary;
  }

  header {
    margin-bottom: 25px;
  }

  .head-container {
    position: absolute;
    transform: translateY(-50%);
    top: calc(50% - 90px);
    width: 100%;
    margin: 20px 0;

    @media (min-width: 1400px) {
      top: calc(50% - 120px);
    }
  }

  label {
    margin-bottom: 20px;
    font-weight: 300;
    display: block;
    font-size: 32px;
  }

  input {
    display: block;
    margin: 0 auto 20px;
    text-align: center;
    border: none;
    border-bottom: 2px solid #fff;
    background-color: transparent;
    height: 35px;
    font-size: 16px;
    width: 250px;
    padding: 0 10px;
    outline: none;
    color: #fff;

    @media (min-width: 1400px) {
      height: 50px;
      font-size: 22px;
      width: 300px;
    }
  }

  .btn-primary {
    background-color: transparent;
    border: 2px solid $primary;
    font-size: 16px;
    padding: 10px 25px;
    transition: all 0.35s ease;
    transform: scale(1);
    outline: none;

    &:hover {
      background-color: $primary;
      color: #23644f;
    }

    &:active {
      outline: none;
      border: 2px solid $primary;
      transform: scale(0.85);
      box-shadow: none;
    }
  }
}

.main-wish-section {
  position: relative;
  background-color: $secondary;
  background-image: url('../asset/image/bg2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top -18px;
  height: 450px;
  overflow: hidden;

  &::after {
    background-color: #fbfbfb;
  }

  .wish-slide {
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%) translateY(0);
    transition: all 1.7s ease;
    opacity: 0;
    font-size: 20px;
    font-weight: 600;
    color: #fff;

    &::before,
    &::after {
      content: '"';
      position: absolute;
      font-size: 50px;
      line-height: 1;
      opacity: 0.3;
    }

    &::before {
      left: -30px;
      bottom: 5px;
      transform: rotate(180deg);
    }

    &::after {
      right: -40px;
      top: -10px;
    }

    &.active {
      visibility: visible;
      transform: translateX(-50%) translateY(-50%) translateY(20px);
      opacity: 1;
      transition: all 1.2s ease 1.2s;
    }

    .wish-slide-signature {
      font-size: 14px;
      text-align: right;
      font-weight: 400;
      font-style: italic;
    }
  }
}

.main-head-section,
.main-wish-section,
.text-section-inner {
  &::after {
    content: "";
    position: absolute;
    right: -25%;
    bottom: -320px;
    width: 150%;
    height: 400px;
    transform: rotate(-8deg);
  }

  @media (min-width: 1200px) {
    &::after {
      bottom: -280px;
    }
  }

  @media (min-width: 1600px) {
    &::after {
      bottom: -280px;
    }
  }
}

.main-info-section {
  padding: 0;
  transform: translateY(-225px);
  text-align: center;

  .info-box {
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.15);
    height: 400px;
    border-radius: 5px;
    padding: 20px;
    transform: scale(0.95);
    transition: all 0.75s ease;

    &:hover {
      transform: scale(1);
      -webkit-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.15);
      -moz-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.15);
      box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.15);
    }
  }

  .main-info-icon {
    display: block;
    width: 125px;
    margin: 0 auto;
  }

  h2 {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
  }
}

.main-text-section {
  margin-top: -175px;
  text-align: center;
  position: relative;

  .text-section-inner {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    padding-bottom: 125px;

    &::after {
      background-color: #efefef;
      bottom: -350px;
    }
  }
}

.main-logo {
  width: 350px;

  @media (min-width: 1400px) {
    width: 400px;
  }
}

// PANELS - tab control

section[class*="-tab"] {
  display: none;

  &.active {
    display: block;
  }
}
.tabs-navigation {
  position: relative;
  margin-bottom: 15px;

  .buttons-container {
    position: absolute;
    right: 0;
    bottom: 12px;

    .btn {
      display: inline-block;
      vertical-align: top;
    }

    .btn-quit {
      color: $primary;
      border: 2px solid $primary;
      background-color: transparent;
      transition: all 0.4s ease;

      &:hover {
        background-color: $primary;
        color: #fff;
      }
    }
  }

  & > a {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 10px 10px 8px;
    margin: 20px 15px 10px 0;
    color: #555;
    text-decoration: none;
    transition: color 0.4s ease;
    font-size: 18px;
    font-weight: 600;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      margin-top: 0;
      width: 100%;
      height: 2px;
      background-color: #aaa;
      transition: bottom 0.25s ease;
    }

    &:hover {
      color: #333;

      &::after {
        background-color: $primary;
      }
    }

    &.active {
      color: #333;

      &::after {
        background-color: $primary;
        bottom: -3px;
      }
    }
  }
}

// radio btns

input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    color: #333;
    font-size:14px;
    cursor: pointer;
    margin-bottom: 4px;
    font-size: 13px;
}
input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}

input[type="radio"] + label span {
  border: 2px solid #d4d4d4;
  position: relative;
}

input[type="radio"] + label span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) translateY(-0.5px) scale(0);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: $primary;
  transition: transform 0.4s ease;
}

input[type="radio"]:checked + label span::after {
  transform: translateX(-50%) translateY(-50%) translateY(-0.5px) scale(1);
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}

// checkboxes

.user-panel {

  /* Base for label styling */
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
  }
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 23px;
    cursor: pointer;
  }

  /* checkbox aspect */
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 18px; height: 18px;
    border: 2px solid #ccc;
    background: #fff;
    border-radius: 3px;
  }
  /* checked mark aspect */
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background-image: url('../../asset/image/tick.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 3.5px; left: 3px;
    color: #09ad7e;
    transition: all 0.4s;
  }
  /* checked mark aspect changes */
  [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }

}