<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>balazsjohanna</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- build:css({.tmp/,bower_components}) dist/vendor.min.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="../bower_components/mm.angular-fullpage.js/src/mm.angular-fullpage.css" />
        <!-- endbower -->
        <link rel="stylesheet" href="css/vendor.css">
        <!-- endbuild -->

        <!-- build:css(.tmp/) dist/style.min.css -->
        <link rel="stylesheet" href="css/style.css">
        <!-- endbuild -->

        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&amp;subset=latin-ext" rel="stylesheet">
    </head>
    <body ng-app="balazsjohanna">

        <!-- This file should represent how someone can use your component. So which scripts to ref and what html is needed. -->
        <!-- Note that the final version of this will be in the build folder after you run: $ gulp build -->
        <!-- <main ng-controller="mainController as mainCtrl" class="active"> -->
        <main ng-controller="mainController as mainCtrl" ng-class="{active: mainCtrl.loginData.loggedIn}">
        <!-- <div full-page> -->
          <section class="main-head-section section" data-anchor="section1" style="height: {{mainCtrl.windowHeight}}px">
            <section class="head-container">
              <header>
                <img src="asset/image/logo.png" class="main-logo" alt="B&J logo">
              </header>
              <section class="head-main">
                <input id="inviteId" type="text" placeholder="Meghívón található kód" ng-model="mainCtrl.loginData.inviteId">
                <button class="btn btn-primary" ng-click="mainCtrl.login()">Bejelentkezés</button>
              </section>
            </section>
          </section>
          <section class="main-wish-section section" data-anchor="section2">
            <article class="wish-slide" ng-repeat="wish in mainCtrl.wishesData.data" ng-class="{active: mainCtrl.activeWish === wish.id}">
                <p class="wish-slide-text">{{wish.text}}</p>
                <p class="wish-slide-signature">{{wish.signature}}</p>
            </article>
          </section>
          <section class="main-info-section section">
            <div class="container">
                <div class="col-xs-12 col-sm-4">
                  <article class="info-box">
                  <img src="asset/image/date-icon.png" class="main-info-icon" alt="Date icon">
                  <h2>Június 24.</h2>
                  <p>Egyházi esküvő & Istentisztelet</p>
                  <p>16:00</p>
                  <p>Esküvői vacsora</p>
                  <p>18:30</p>
                  </article>
                </div> 
                <div class="col-xs-12 col-sm-4">
                  <article class="info-box">
                  <img src="asset/image/location-icon.png" class="main-info-icon" alt="Date icon">
                    Veresegyház
                  </article>
                </div> 
                <div class="col-xs-12 col-sm-4">
                  <article class="info-box">
                  <img src="asset/image/champagne-icon.png" class="main-info-icon" alt="Date icon">
                  </article>
                </div> 
            </div>
          </section>
          <section class="main-text-section">
            <div class="text-section-inner">
              <p>
                A weboldallal kapcsolatos kérdésekkel, észrevételekkel keressétek <br />Balázst az alábbi számon: 06 20 775 8738
              </p>
              <p>
                Egyéb kérdéssel kapcsolatosan kérlek hívjátok Őt:<br />
                06 20 123 4567
              </p>
            </div>
          </section>
            
          </section>
          <!-- <section class="user-panel active"> -->
          <section
            class="user-panel"
            ng-class="{active: mainCtrl.loginData.loggedIn}"
            ng-include="'userPanel.html'"
            ng-show="!mainCtrl.loginData.userRights.is_admin"
          >
          </section>
          <section
            class="control-panel"
            ng-class="{active: mainCtrl.loginData.loggedIn}"
            ng-include="'controlPanel.html'"
            ng-show="mainCtrl.loginData.userRights.is_admin"
          >
          </section>
          <!-- </div> -->
        </main>


        <!-- build:js dist/vendor.min.js -->
        <!-- bower:js -->
        <script src="../bower_components/angular/angular.js"></script>
        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
        <script src="../bower_components/mm.angular-fullpage.js/src/mm.angular-fullpage.js"></script>
        <!-- endbower -->
        <!-- endbuild -->


        <!-- build:js dist/app.min.js -->
        <!-- inject:js -->
        <script src="app/index.module.js"></script>
        <script src="app/angular-fullPage.js"></script>
        <script src="app/index.config.js"></script>
        <script src="app/index.controller.js"></script>
        <script src="app/index.filters.js"></script>
        <script src="app/index.provider.js"></script>
        <script src="app/game/game.service.js"></script>
        <script src="app/guests/guests.service.js"></script>
        <script src="app/login/adminData.service.js"></script>
        <script src="app/login/login.service.js"></script>
        <script src="app/login/loginData.service.js"></script>
        <script src="app/wishes/wishes.service.js"></script>
        <!-- endinject -->
        <!-- endbuild -->

    </body>
</html>
